.article-card {
  border: 1px solid rgb(40, 40, 40);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

.button-care, .button-dont-care {
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 35px;
  margin-right: 10px;
  border-radius: 20px;
}

.button-care {
  background-color: #63EA68;
}

.button-dont-care {
  background-color: #EA6363;
}

.button-care i, .button-dont-care i {
  margin-right: 5px;
}

.card-hover:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-hover {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title, .card-text {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}

.footer-bottom-fixed {
  position: relative;
  bottom: 0;
  width: 100%;
}

body, button, input, textarea, select, div, h1, h2, h3, h4, h5, h6, p, .form-label, label, .card-title {
  font-family: 'Lexend Exa', sans-serif;
  font-weight: 200;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  color: white;
  text-decoration: none;
}

.navbar, .footer {
  background-color: black;
  color: white;
}

.bg-dark {
  background-color: black !important;
}

.text-white {
  color: white !important;
}

.white-close-button .btn-close {
  color: white;
  filter: invert(1);
}

.container-fluid {
  background-color: black;
}

.login{
  font-family: 'Lexend Exa', sans-serif;
  font-weight: 200;
  background-color: rgb(43, 43, 43) !important;
  border-radius: 10px;
  color: white;
}

.card-title, .login-header {
  font-weight: bolder !important;
}

.card {
  border: 2px solid rgb(255, 255, 255);
}

.modal-body img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.break::after {
  content: "" !important;
  display: block !important;
  margin-bottom: 1rem !important;
}

.container-height {
  min-height: 600px !important;
}